### Grouping of Data

In [1]:
import pandas as pd

In [4]:
football_data = pd.read_csv('soccerdata-master\data\cl_13_14.csv')

In [5]:
football_data.size

1200

In [6]:
football_data.head()

,home,homescore,awayscore,away,date,group
0,Borussia Dortmund,1,2,Zenit St Petersburg,"Wednesday, March 19, 2014",UEFA CHAMPIONS LEAGUE - ROUND OF 16
1,Manchester United,3,0,Olympiakos,"Wednesday, March 19, 2014",UEFA CHAMPIONS LEAGUE - ROUND OF 16
2,Chelsea,2,0,Galatasaray,"Tuesday, March 18, 2014",UEFA CHAMPIONS LEAGUE - ROUND OF 16
3,Real Madrid,3,1,Schalke 04,"Tuesday, March 18, 2014",UEFA CHAMPIONS LEAGUE - ROUND OF 16
4,Barcelona,2,1,Manchester City,"Wednesday, March 12, 2014",UEFA CHAMPIONS LEAGUE - ROUND OF 16

In [8]:
footballgb = football_data.groupby('home')

In [9]:
footballgb.groups

{'AC Milan': Int64Index([12, 23, 78, 102, 113], dtype='int64'),
 'Ajax Amsterdam': Int64Index([46, 54, 94], dtype='int64'),
 'Anderlecht': Int64Index([36, 68, 84], dtype='int64'),
 'Apoel Nicosia': Int64Index([147], dtype='int64'),
 'Arsenal': Int64Index([13, 42, 74, 90, 117], dtype='int64'),
 'Atletico Madrid': Int64Index([6, 21, 53, 100], dtype='int64'),
 'Austria Vienna': Int64Index([22, 76, 101, 118, 153], dtype='int64'),
 'BATE Borisov': Int64Index([189], dtype='int64'),
 'Barcelona': Int64Index([4, 24, 55, 103], dtype='int64'),
 'Bayer Leverkusen': Int64Index([14, 32, 64, 80], dtype='int64'),
 'Bayern Munich': Int64Index([7, 30, 71, 110], dtype='int64'),
 'Benfica': Int64Index([28, 69, 108], dtype='int64'),
 'Birkirkara': Int64Index([193], dtype='int64'),
 'Borussia Dortmund': Int64Index([0, 43, 50, 91], dtype='int64'),
 'CS Fola Esch': Int64Index([194], dtype='int64'),
 'CSKA Moscow': Int64Index([38, 70, 86], dtype='int64'),
 'Celtic': Int64Index([47, 79, 95, 114, 151, 174], dtype='int64'),
 'Chelsea': Int64Index([2, 17, 48, 96], dtype='int64'),
 'Cliftonville': Int64Index([187], dtype='int64'),
 'Dinamo Tbilisi': Int64Index([154, 190], dtype='int64'),
 'Dinamo Zagreb': Int64Index([122, 159, 175], dtype='int64'),
 'EB Streymur': Int64Index([171, 196], dtype='int64'),
 'Elfsborg': Int64Index([136, 182], dtype='int64'),
 'FC Basel': Int64Index([40, 49, 88, 119, 156], dtype='int64'),
 'FC Copenhagen': Int64Index([27, 58, 106], dtype='int64'),
 'FC Daugava': Int64Index([167], dtype='int64'),
 'FC Metalist Kharkiv': Int64Index([134], dtype='int64'),
 'FC Nordsjaelland': Int64Index([157], dtype='int64'),
 'FC Porto': Int64Index([45, 77, 93], dtype='int64'),
 'FH Hafnarfjordur': Int64Index([132, 178], dtype='int64'),
 'FK Ekranas': Int64Index([191], dtype='int64'),
 'Fenerbahce': Int64Index([123, 144], dtype='int64'),
 'Galatasaray': Int64Index([8, 16, 66, 107], dtype='int64'),
 'Grasshoppers': Int64Index([146], dtype='int64'),
 'Gyor': Int64Index([186], dtype='int64'),
 'HJK Helsinki': Int64Index([180], dtype='int64'),
 'Juventus': Int64Index([34, 59, 82], dtype='int64'),
 'Legia Warsaw': Int64Index([120, 138, 164], dtype='int64'),
 'Ludogorets Razgrad': Int64Index([124, 149, 162], dtype='int64'),
 'Lusitanos': Int64Index([199], dtype='int64'),
 'Lyon': Int64Index([128, 161], dtype='int64'),
 'Maccabi Tel-Aviv': Int64Index([140, 173], dtype='int64'),
 'Manchester City': Int64Index([15, 39, 62, 87], dtype='int64'),
 'Manchester United': Int64Index([1, 25, 65, 104], dtype='int64'),
 'Marseille': Int64Index([19, 75, 98], dtype='int64'),
 'Molde': Int64Index([148, 170], dtype='int64'),
 'NK Maribor': Int64Index([115, 142, 163], dtype='int64'),
 'Napoli': Int64Index([20, 51, 99], dtype='int64'),
 'Neftchi': Int64Index([181], dtype='int64'),
 'Nomme Kalju': Int64Index([155, 168], dtype='int64'),
 'Olympiakos': Int64Index([11, 29, 60, 109], dtype='int64'),
 'PAOK Salonika': Int64Index([121, 158], dtype='int64'),
 'PSV Eindhoven': Int64Index([130, 160], dtype='int64'),
 'Paris Saint-Germain ': Int64Index([5, 37, 61, 85], dtype='int64'),
 'Partizan Belgrade': Int64Index([145, 165], dtype='int64'),
 'Paços de Ferreira': Int64Index([129], dtype='int64'),
 'Real Madrid': Int64Index([3, 35, 67, 83], dtype='int64'),
 'Real Sociedad': Int64Index([26, 56, 105, 116], dtype='int64'),
 'SV Salzburg': Int64Index([150], dtype='int64'),
 'Schalke 04': Int64Index([9, 18, 72, 97, 125], dtype='int64'),
 'Shakhtar Donetsk': Int64Index([33, 57, 81], dtype='int64'),
 'Shakhter Karagandy': Int64Index([127, 152, 166], dtype='int64'),
 'Sheriff Tiraspol': Int64Index([135, 192], dtype='int64'),
 'Shirak': Int64Index([179, 198], dtype='int64'),
 'Skenderbeu': Int64Index([143, 172], dtype='int64'),
 'Sligo': Int64Index([183], dtype='int64'),
 'Slovan Bratislava': Int64Index([184], dtype='int64'),
 'Steaua Bucuresti': Int64Index([41, 73, 89, 126, 141, 195], dtype='int64'),
 'Sutjeska': Int64Index([169], dtype='int64'),
 'T.N.S.': Int64Index([185], dtype='int64'),
 'Tre Penne': Int64Index([197], dtype='int64'),
 'Vardar': Int64Index([176], dtype='int64'),
 'Viktoria Plzen': Int64Index([31, 63, 111, 131, 137, 188], dtype='int64'),
 'Zeljeznicar Sarajevo': Int64Index([177], dtype='int64'),
 'Zenit St Petersburg': Int64Index([10, 44, 52, 92, 112, 133], dtype='int64'),
 'Zulte-Waregem': Int64Index([139], dtype='int64')}

In [10]:
footballgb.size()

home
AC Milan                5
Ajax Amsterdam          3
Anderlecht              3
Apoel Nicosia           1
Arsenal                 5
Atletico Madrid         4
Austria Vienna          5
BATE Borisov            1
Barcelona               4
Bayer Leverkusen        4
Bayern Munich           4
Benfica                 3
Birkirkara              1
Borussia Dortmund       4
CS Fola Esch            1
CSKA Moscow             3
Celtic                  6
Chelsea                 4
Cliftonville            1
Dinamo Tbilisi          2
Dinamo Zagreb           3
EB Streymur             2
Elfsborg                2
FC Basel                5
FC Copenhagen           3
FC Daugava              1
FC Metalist Kharkiv     1
FC Nordsjaelland        1
FC Porto                3
FH Hafnarfjordur        2
                       ..
NK Maribor              3
Napoli                  3
Neftchi                 1
Nomme Kalju             2
Olympiakos              4
PAOK Salonika           2
PSV Eindhoven           2
Paris Saint-Germain     4
Partizan Belgrade       2
Paços de Ferreira       1
Real Madrid             4
Real Sociedad           4
SV Salzburg             1
Schalke 04              5
Shakhtar Donetsk        3
Shakhter Karagandy      3
Sheriff Tiraspol        2
Shirak                  2
Skenderbeu              2
Sligo                   1
Slovan Bratislava       1
Steaua Bucuresti        6
Sutjeska                1
T.N.S.                  1
Tre Penne               1
Vardar                  1
Viktoria Plzen          6
Zeljeznicar Sarajevo    1
Zenit St Petersburg     6
Zulte-Waregem           1
dtype: int64

In [12]:
groupedstatsdf = pd.read_csv('goal_stats_euro_leagues_2012-13.csv')

In [14]:
groupedstatsdf.head(3)

        Month           Stat   EPL  La Liga  Serie A  Bundesliga
0  08/01/2012  MatchesPlayed  20.0       20     10.0        10.0
1  09/01/2012  MatchesPlayed  38.0       39     50.0        44.0
2  10/01/2012  MatchesPlayed  31.0       31     39.0        27.0

In [15]:
groupedstatsdf.tail(3)

         Month         Stat    EPL  La Liga  Serie A  Bundesliga
19  04/01/2013  GoalsScored  105.0      127    102.0       104.0
20  05/01/2013  GoalsScored   96.0      109    102.0        92.0
21  06/01/2013  GoalsScored    NaN       80      NaN         NaN

In [22]:
groupedstatsdf

                     Stat    EPL  La Liga  Serie A  Bundesliga
Month
08/01/2012  MatchesPlayed   20.0       20     10.0        10.0
09/01/2012  MatchesPlayed   38.0       39     50.0        44.0
10/01/2012  MatchesPlayed   31.0       31     39.0        27.0
11/01/2012  MatchesPlayed   50.0       41     42.0        46.0
12/01/2012  MatchesPlayed   59.0       39     39.0        26.0
01/01/2013  MatchesPlayed   42.0       40     40.0        18.0
02/01/2013  MatchesPlayed   30.0       40     40.0        36.0
03/01/2013  MatchesPlayed   35.0       38     39.0        36.0
04/01/2013  MatchesPlayed   42.0       42     41.0        36.0
05/01/2013  MatchesPlayed   33.0       40     40.0        27.0
06/02/2013  MatchesPlayed    NaN       10      NaN         NaN
08/01/2012    GoalsScored   57.0       60     21.0        23.0
09/01/2012    GoalsScored  111.0      112    133.0       135.0
10/01/2012    GoalsScored   95.0       88     97.0        77.0
11/01/2012    GoalsScored  121.0      116    120.0       137.0
12/01/2012    GoalsScored  183.0      109    125.0        72.0
01/01/2013    GoalsScored  117.0      121    104.0        51.0
02/01/2013    GoalsScored   87.0      110    100.0       101.0
03/01/2013    GoalsScored   91.0      101     99.0       106.0
04/01/2013    GoalsScored  105.0      127    102.0       104.0
05/01/2013    GoalsScored   96.0      109    102.0        92.0
06/01/2013    GoalsScored    NaN       80      NaN         NaN

In [26]:
#With no specific column name mentioned, groupBy function takes index
groupedByMonth = groupedstatsdf.groupby(lambda Month: Month.split('/')[2])

In [30]:
for name,group in groupedByMonth:
    print (name, group)

2012                      Stat    EPL  La Liga  Serie A  Bundesliga
Month
08/01/2012  MatchesPlayed   20.0       20     10.0        10.0
09/01/2012  MatchesPlayed   38.0       39     50.0        44.0
10/01/2012  MatchesPlayed   31.0       31     39.0        27.0
11/01/2012  MatchesPlayed   50.0       41     42.0        46.0
12/01/2012  MatchesPlayed   59.0       39     39.0        26.0
08/01/2012    GoalsScored   57.0       60     21.0        23.0
09/01/2012    GoalsScored  111.0      112    133.0       135.0
10/01/2012    GoalsScored   95.0       88     97.0        77.0
11/01/2012    GoalsScored  121.0      116    120.0       137.0
12/01/2012    GoalsScored  183.0      109    125.0        72.0
2013                      Stat    EPL  La Liga  Serie A  Bundesliga
Month
01/01/2013  MatchesPlayed   42.0       40     40.0        18.0
02/01/2013  MatchesPlayed   30.0       40     40.0        36.0
03/01/2013  MatchesPlayed   35.0       38     39.0        36.0
04/01/2013  MatchesPlayed   42.0       42     41.0        36.0
05/01/2013  MatchesPlayed   33.0       40     40.0        27.0
06/02/2013  MatchesPlayed    NaN       10      NaN         NaN
01/01/2013    GoalsScored  117.0      121    104.0        51.0
02/01/2013    GoalsScored   87.0      110    100.0       101.0
03/01/2013    GoalsScored   91.0      101     99.0       106.0
04/01/2013    GoalsScored  105.0      127    102.0       104.0
05/01/2013    GoalsScored   96.0      109    102.0        92.0
06/01/2013    GoalsScored    NaN       80      NaN         NaN

In [2]:
import pandas as pd
goal_data = pd.read_csv('goal_stats_euro_leagues_2012-13.csv')

In [3]:
goal_data.head()

        Month           Stat   EPL  La Liga  Serie A  Bundesliga
0  08/01/2012  MatchesPlayed  20.0       20     10.0        10.0
1  09/01/2012  MatchesPlayed  38.0       39     50.0        44.0
2  10/01/2012  MatchesPlayed  31.0       31     39.0        27.0
3  11/01/2012  MatchesPlayed  50.0       41     42.0        46.0
4  12/01/2012  MatchesPlayed  59.0       39     39.0        26.0

In [5]:
goal_data.set_index(['Month'],inplace=True)

In [7]:
goalsScoredDF = goal_data.ix[goal_data['Stat']=='GoalsScored']

In [8]:
goalsScoredDF.head()

                   Stat    EPL  La Liga  Serie A  Bundesliga
Month
08/01/2012  GoalsScored   57.0       60     21.0        23.0
09/01/2012  GoalsScored  111.0      112    133.0       135.0
10/01/2012  GoalsScored   95.0       88     97.0        77.0
11/01/2012  GoalsScored  121.0      116    120.0       137.0
12/01/2012  GoalsScored  183.0      109    125.0        72.0

In [10]:
goalsScoredDF = goalsScoredDF.iloc[:,1:]

In [13]:
goalsScored_grp = goalsScoredDF.groupby(lambda Month: Month.split('/')[2])

In [14]:
goalsScored_grp.mean()

        EPL  La Liga  Serie A  Bundesliga
2012  113.4       97     99.2        88.8
2013   99.2      108    101.4        90.8

In [15]:
goalsScored_grp.count()

      EPL  La Liga  Serie A  Bundesliga
2012    5        5        5           5
2013    5        6        5           5

In [16]:
for name,group in goalsScored_grp:
    print (name, group)

2012               EPL  La Liga  Serie A  Bundesliga
Month
08/01/2012   57.0       60     21.0        23.0
09/01/2012  111.0      112    133.0       135.0
10/01/2012   95.0       88     97.0        77.0
11/01/2012  121.0      116    120.0       137.0
12/01/2012  183.0      109    125.0        72.0
2013               EPL  La Liga  Serie A  Bundesliga
Month
01/01/2013  117.0      121    104.0        51.0
02/01/2013   87.0      110    100.0       101.0
03/01/2013   91.0      101     99.0       106.0
04/01/2013  105.0      127    102.0       104.0
05/01/2013   96.0      109    102.0        92.0
06/01/2013    NaN       80      NaN         NaN

In [17]:
fill_func = lambda x: x.fillna(x.mean())

In [18]:
trans = goalsScored_grp.transform(fill_func)

In [21]:
trans

              EPL  La Liga  Serie A  Bundesliga
Month
08/01/2012   57.0       60     21.0        23.0
09/01/2012  111.0      112    133.0       135.0
10/01/2012   95.0       88     97.0        77.0
11/01/2012  121.0      116    120.0       137.0
12/01/2012  183.0      109    125.0        72.0
01/01/2013  117.0      121    104.0        51.0
02/01/2013   87.0      110    100.0       101.0
03/01/2013   91.0      101     99.0       106.0
04/01/2013  105.0      127    102.0       104.0
05/01/2013   96.0      109    102.0        92.0
06/01/2013   99.2       80    101.4        90.8

### Filtering

In [37]:
import numpy as np

Empty DataFrame
Columns: [Stat, EPL, La Liga, Serie A, Bundesliga]
Index: []

In [39]:
help(trans.filter)

Help on method filter in module pandas.core.generic:

filter(items=None, like=None, regex=None, axis=None) method of pandas.core.frame.DataFrame instance
    Subset rows or columns of dataframe according to labels in
    the specified index.

    Note that this routine does not filter a dataframe on its
    contents. The filter is applied to the labels of the index.

    Parameters
    ----------
    items : list-like
        List of info axis to restrict to (must not all be present)
    like : string
        Keep info axis where "arg in col == True"
    regex : string (regular expression)
        Keep info axis with re.search(regex, col) == True
    axis : int or string axis name
        The axis to filter on.  By default this is the info axis,
        'index' for Series, 'columns' for DataFrame

    Returns
    -------
    same type as input object

    Examples
    --------
    >>> df
    one  two  three
    mouse     1    2      3
    rabbit    4    5      6

    >>> # select columns by name
    >>> df.filter(items=['one', 'three'])
    one  three
    mouse     1      3
    rabbit    4      6

    >>> # select columns by regular expression
    >>> df.filter(regex='e$', axis=1)
    one  three
    mouse     1      3
    rabbit    4      6

    >>> # select rows containing 'bbi'
    >>> df.filter(like='bbi', axis=0)
    one  two  three
    rabbit    4    5      6

    See Also
    --------
    pandas.DataFrame.select

    Notes
    -----
    The ``items``, ``like``, and ``regex`` parameters are
    enforced to be mutually exclusive.

    ``axis`` defaults to the info axis that is used when indexing
    with ``[]``.

In [44]:
trans.filter(regex='^E')

              EPL
Month
08/01/2012   57.0
09/01/2012  111.0
10/01/2012   95.0
11/01/2012  121.0
12/01/2012  183.0
01/01/2013  117.0
02/01/2013   87.0
03/01/2013   91.0
04/01/2013  105.0
05/01/2013   96.0
06/01/2013   99.2

In [50]:
trans.filter(like='2013',axis=0)

              EPL  La Liga  Serie A  Bundesliga
Month
01/01/2013  117.0      121    104.0        51.0
02/01/2013   87.0      110    100.0       101.0
03/01/2013   91.0      101     99.0       106.0
04/01/2013  105.0      127    102.0       104.0
05/01/2013   96.0      109    102.0        92.0
06/01/2013   99.2       80    101.4        90.8

### Merging & Joining
* concat
* append

In [52]:
A = trans.ix[:4, ['EPL']]

In [55]:
B = trans.ix[:4, ['Serie A']]

In [56]:
B

            Serie A
Month
08/01/2012     21.0
09/01/2012    133.0
10/01/2012     97.0
11/01/2012    120.0

In [58]:
pd.concat([A,B],axis=1)

              EPL  Serie A
Month
08/01/2012   57.0     21.0
09/01/2012  111.0    133.0
10/01/2012   95.0     97.0
11/01/2012  121.0    120.0