In [1]:
import pandas as pd

In [2]:
blog_data = pd.read_csv('data/blogData_train.csv',header=None)

In [3]:
blog_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52397 entries, 0 to 52396
Columns: 281 entries, 0 to 280
dtypes: float64(281)
memory usage: 112.3 MB

In [4]:
blog_data.head()

,0,1,2,3,4,5,6,7,8,9,...,271,272,273,274,275,276,277,278,279,280
0,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0

In [5]:
feature_col = [ col for col in blog_data.columns if col != 280 ]

In [6]:
feature_data = blog_data[feature_col]

In [7]:
target_data = blog_data[280]

In [8]:
#finding how imp is other col with respect to target col
feature_corr = blog_data.corr().loc[280]

In [9]:
feature_corr

0      0.485464
1      0.424616
2      0.053221
3      0.356604
4      0.491707
5      0.497631
6      0.433578
7      0.034916
8      0.322106
9      0.506540
10     0.490111
11     0.439152
12          NaN
13     0.322775
14     0.489674
15     0.471999
16     0.384654
17     0.053221
18     0.299688
19     0.486316
20     0.503375
21     0.440003
22    -0.280792
23     0.320133
24    -0.004137
25     0.328525
26     0.266815
27    -0.001228
28     0.247457
29     0.338961
         ...
251    0.017291
252   -0.002369
253    0.013099
254    0.008334
255   -0.001284
256    0.013151
257    0.001495
258    0.003610
259    0.005246
260    0.019466
261   -0.002411
262   -0.004619
263    0.017965
264    0.011630
265    0.001922
266   -0.009389
267   -0.008288
268   -0.007110
269   -0.000284
270    0.004695
271   -0.003085
272   -0.007672
273    0.008056
274    0.000869
275   -0.002905
276   -0.005661
277         NaN
278   -0.002362
279   -0.001354
280    1.000000
Name: 280, Length: 281, dtype: float64

In [10]:
feature_df = pd.DataFrame({'col':feature_corr.index, 'imp':feature_corr.values})

In [12]:
import numpy as np
feature_df['imp'] = np.abs(feature_df['imp'])

In [19]:
feature_df

     col       imp
0      0  0.485464
1      1  0.424616
2      2  0.053221
3      3  0.356604
4      4  0.491707
5      5  0.497631
6      6  0.433578
7      7  0.034916
8      8  0.322106
9      9  0.506540
10    10  0.490111
11    11  0.439152
12    12       NaN
13    13  0.322775
14    14  0.489674
15    15  0.471999
16    16  0.384654
17    17  0.053221
18    18  0.299688
19    19  0.486316
20    20  0.503375
21    21  0.440003
22    22  0.280792
23    23  0.320133
24    24  0.004137
25    25  0.328525
26    26  0.266815
27    27  0.001228
28    28  0.247457
29    29  0.338961
..   ...       ...
251  251  0.017291
252  252  0.002369
253  253  0.013099
254  254  0.008334
255  255  0.001284
256  256  0.013151
257  257  0.001495
258  258  0.003610
259  259  0.005246
260  260  0.019466
261  261  0.002411
262  262  0.004619
263  263  0.017965
264  264  0.011630
265  265  0.001922
266  266  0.009389
267  267  0.008288
268  268  0.007110
269  269  0.000284
270  270  0.004695
271  271  0.003085
272  272  0.007672
273  273  0.008056
274  274  0.000869
275  275  0.002905
276  276  0.005661
277  277       NaN
278  278  0.002362
279  279  0.001354
280  280  1.000000

[281 rows x 2 columns]

In [13]:
#Taking top 50 features based on correlation
sec = feature_df.sort_values('imp',ascending=False)[:50]

In [20]:
sec

     col       imp
280  280  1.000000
9      9  0.506540
20    20  0.503375
5      5  0.497631
4      4  0.491707
10    10  0.490111
14    14  0.489674
19    19  0.486316
0      0  0.485464
51    51  0.472061
15    15  0.471999
34    34  0.461627
21    21  0.440003
11    11  0.439152
6      6  0.433578
1      1  0.424616
16    16  0.384654
3      3  0.356604
29    29  0.338961
35    35  0.337775
30    30  0.335829
40    40  0.329670
25    25  0.328525
44    44  0.323661
13    13  0.322775
8      8  0.322106
23    23  0.320133
50    50  0.314446
53    53  0.314177
18    18  0.299688
54    54  0.296273
46    46  0.292805
36    36  0.285755
31    31  0.283884
22    22  0.280792
26    26  0.266815
41    41  0.265203
56    56  0.260903
33    33  0.251493
38    38  0.251485
28    28  0.247457
48    48  0.245544
45    45  0.233080
43    43  0.232089
47    47  0.230493
58    58  0.198638
55    55  0.191917
60    60  0.152908
59    59  0.146145
52    52  0.117642

In [14]:
sec_cols = sec.col.values.tolist()

In [15]:
#selecting data from top 50 columns
top50f = blog_data[sec_cols]

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
model = LinearRegression()

In [18]:
model.fit(top50f,target_data)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [28]:
test_blog_data = pd.read_csv('data/blogData_test-2012.02.04.00_00.csv',header=None)

In [29]:
test_data = test_blog_data[sec_cols]

In [30]:
test_target_data = test_blog_data[280]

In [31]:
y_pred = model.predict(test_data)

In [32]:
from sklearn.metrics import r2_score

In [33]:
r2_score(test_target_data,y_pred)

1.0

In [36]:
y_pred[7]

41.999999999998685